@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-outer-spin-button {
  display: none;
}

::-webkit-inner-spin-button {
  display: none;
}

::-webkit-scrollbar {
  @apply w-1.5 bg-white/50
}

::-webkit-scrollbar-thumb {
  @apply w-full rounded-2xl bg-black
}